
@import url('https://fonts.googleapis.com/css2?family=Monomakh&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins";
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center; 
    color: #E6E6FA;
    font-family: "Poppins";
    font-size: 50px;
    background-color: #4B0082;
    padding: 2% 0% 2% 2%;
    margin-bottom: 50px;
    text-shadow: 1px 1px 2px black;

}

.form {
    display: flex;
    justify-content: center;
    gap: 8px;
   
}

button {
    color: #4B0082;
}

.infor {
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    color: #4B0082;
    padding: 50px;
}

.rodapé {
    text-align: center;
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
    background-color: #4B0082;
    position: absolute;
    bottom:0%;
    width: 100%;  
    padding: 1% 1% 1% 1%;
}

